<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Time Series: Rolling Statistics

# Independent Practice

**Instructor Note:** These are optional and can be assigned as student practice questions outside of class.

### 1) Load the Unemployment data set. Perform any necessary cleaning and preprocess the data by creating a `period` index.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
u = pd.read_csv('./data/unemployment.csv')
u.head()

     date  unemployment_rate
0  1948Q1              3.733
1  1948Q2              3.667
2  1948Q3              3.767
3  1948Q4              3.833
4  1949Q1              4.667

In [3]:
# A:

### 2) Plot the unemployment rate.

In [4]:
# A:

### 3) Calculate the rolling mean of years with `window=3 `, without centering, and plot both the unemployment rates and the rolling mean data.

In [5]:
# A:

### 4) Calculate the rolling median with `window=5` and `window=15`. Plot both together with the original data.

In [6]:
# A:

### 5) Calculate and plot the expanding mean. Resample by quarter. Plot the rolling mean and the expanding mean together.

In [7]:
# A:

### 6) Calculate and plot the exponentially weighted sum along with the rolling sum.

In [8]:
# A:

### 7) Difference the unemployment rate and plot.

In [9]:
# A: